ion-card {
    box-shadow: none;
}

ion-card-content ion-item {
    --inner-border-width: 0;
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--ion-color-primary);
    margin-bottom: 20px;
    --min-height: 125px;
}

.card-content-md {
    padding-top: 0px;
}

ion-thumbnail {
    --size: 100px;
}

ion-item-options {
    height: 80%;
    top: 2px;

}

ion-item-option {
    border-radius: 10px;
}

.list-md {
    padding-top: 0;
}

ion-card .list-md {
    margin-left: -15px;
    margin-right: -15px;
}